footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f8;
  border-top: 2px solid #424953;
}

.logofooter img {
  width: 100px; /* Endre dette for ønsket størrelse */
  height: auto;
}

.footer-text p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .logofooter img {
    width: 80px;
    margin-bottom: 10px;
  }

  .footer-text p {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
}
