header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  border-bottom: 2px solid #424953;
}

.logoheader img {
  height: 200px;
  width: auto;
}

.buttonsheader {
  display: flex;
  gap: 10px;
}

.buttonsheader button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsheader button:hover,
.loginbutton button:hover,
.registerbutton button:hover {
  background-color: #62676c;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoheader {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .logoheader img {
    content: url(../assets/mobile-logo.png);
    height: 20%;
    width: auto;
  }

  .buttonsheader {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .loginbutton,
  .registerbutton,
  .createbutton,
  .logout-btn {
    width: 90%;
    max-width: 300px;
    min-width: 150px;
    padding: 10px;
    font-size: 14px;
  }
}
