header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  border-bottom: 2px solid #424953;
}

.logoheader img {
  height: 200px;
  width: auto;
}

.buttonsheader {
  display: flex;
  gap: 10px;
}

.buttonsheader button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsheader button:hover,
.loginbutton button:hover,
.registerbutton button:hover {
  background-color: #62676c;
}

@media screen and (max-width: 600px) {
  .logoheader {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Avstand mellom logo og knappene */
  }

  .logoheader img {
    content: url(../assets/mobile-logo.png); /* Bruk mobilversjon av logoen */
    height: 50px; /* Reduserer høyden på logoen */
    width: auto; /* Beholder riktig proporsjon */
  }

  /* Knappene plasseres under logoen */
  .buttonsheader {
    display: flex;
    flex-direction: column; /* Plasser knappene vertikalt */
    align-items: center; /* Sentrer knappene */
    gap: 10px; /* Avstand mellom knappene */
  }

  .loginbutton,
  .registerbutton,
  .createbutton,
  .logout-btn {
    width: 100%; /* Knappene fyller 80% av skjermen */
    max-width: 50px; /* Setter en maks bredde for knappene */
    padding: 12px; /* Øker knappens høyde */
    font-size: 14px; /* Reduserer tekststørrelsen litt */
  }
}
