@import url(footer.css);
@import url(header.css);

body {
  max-width: auto;
  margin: 1;
  background-color: #f7f7f8;
}

h1,
h2,
h3,
a {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  color: #424953;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  border-bottom: 2px solid #424953;
}

.logoheader img {
  height: 200px;
  width: auto;
  cursor: pointer;
}

.buttonsheader {
  display: flex;
  gap: 10px;
}

.buttonsheader button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsheader button:hover,
.loginbutton button:hover,
.registerbutton button:hover,
.createpostbutton button:hover,
.load-more-btn:hover,
.logout-btn:hover,
.edit-post-btn:hover {
  background-color: #62676c;
}

.loginform,
.registerform label {
  display: block;
  margin-bottom: 5px;
}

.loginform input,
.registerform input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.loginbutton,
.registerbutton,
.load-more-btn {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  max-width: 100%;
}

.createpostbutton {
  display: flex;
  align-items: end;
  margin-top: 20px;
  padding: 50px;
  margin-left: auto;
}

.createpostbutton button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.posts-container h2 {
  margin-bottom: 50px;
  text-align: center;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  flex: 1 1 250px;
  max-width: 100%;
}

.post-thumbnail {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 8px; /* Legger til avrundede hjørner på bildet */
}

.edit-post-btn {
  padding: 10px;
  background-color: #424953;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .load-more-btn button {
  display: flex;
}

.load-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

@media (max-width: 600px) {
  main {
    padding: 20px;
    margin-right: 10px;
  }
}
