header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  border-bottom: 2px solid #424953;
}

.logoheader img {
  height: 200px;
  width: auto;
}

.buttonsheader {
  display: flex;
  gap: 10px;
}

.buttonsheader button {
  padding: 10px 20px;
  background-color: #424953;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsheader button:hover {
  background-color: #62676c;
}

body {
  max-width: auto;
  margin: 1;
  background-color: #f7f7f8;
}
