@import url(footer.css);

body {
  max-width: auto;
  margin: 1;
  background-color: #f7f7f8;
}

h1,
h2,
a {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  color: #424953;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  border-bottom: 2px solid #424953;
}

.logoheader img {
  height: 200px;
  width: auto;
}

.buttonsheader {
  display: flex;
  gap: 10px;
}

.buttonsheader button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsheader button:hover,
.loginbutton button:hover,
.registerbutton button:hover,
.createpostbutton button:hover {
  background-color: #62676c;
}

.loginform,
.registerform label {
  display: block; /* Plasserer etiketten som en blokk over input-feltet */
  margin-bottom: 5px; /* Avstand mellom etikett og input-felt */
}

.loginform input,
.registerform input {
  width: 100%; /* Får input-feltene til å fylle hele bredden */
  padding: 8px; /* Innvendig marg for bedre lesbarhet */
  margin-bottom: 15px; /* Avstand mellom input-felt */
  border: 1px solid #ccc; /* Kantlinje på input-feltene */
  border-radius: 4px; /* Runde hjørner på input-feltene */
  box-sizing: border-box; /* Sikrer at padding ikke øker elementbredden */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.loginbutton,
.registerbutton {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.singlelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: #f7f7f8;
  max-width: 100%;
}

.createpostbutton {
  display: flex;
  align-items: end;
  margin-top: 20px;
  padding: 50px;
  margin-left: auto;
}

.createpostbutton button {
  padding: 10px 20px;
  background-color: #424953;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap; /* Sørger for at elementene brytes til neste linje når de ikke får plass */
  justify-content: space-between; /* Fordeler plassene jevnt mellom elementene */
  gap: 20px; /* Gap mellom elementene */
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  flex: 1 1 250px; /* Lar elementene vokse og trekke seg tilbake til minimum 250px */
  max-width: 100%; /* Sørger for at elementet ikke vokser utover containerens bredde */
}

.post-thumbnail {
  width: 100%; /* Gjør bildet responsivt og tilpasser bredden */
  max-width: 150px; /* Maksimal bredde for thumbnail */
  height: auto; /* Sørger for riktig bildestørrelse */
  border-radius: 8px; /* Legger til avrundede hjørner på bildet */
}

.edit-post-btn {
  padding: 10px;
  background-color: #424953;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
